/* ParticipationHistory.css */

.ParticipationHistory-container {
  margin-left: 200px; /* Adjust the margin value to match the width of the sidebar */
  padding: 20px;
}

.ParticipationHistory-logo-right {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 100px; /* Adjust the size as needed */
  height: auto;
}

.ParticipationHistory-logo-left {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 100px; /* Adjust the size as needed */
  height: auto;
}

.ParticipationHistory-form {
  margin-bottom: 20px;
}

.ParticipationHistory-input {
  padding: 10px;
  margin-right: 10px;
}

.ParticipationHistory-button {
  padding: 10px 20px;
  background-color: #080808;
  color: #fff;
  border: none;
  cursor: pointer;
}

.ParticipationHistory-datagrid {
  height: calc(100vh - 200px); /* Adjust the height based on your layout */
}



