.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgb(119, 76, 198);
  color: #fff;
  padding: 10px 20px;
}

.main {
  flex: 1;
  padding: 20px;
}


