.admin-dashboard {
  background-color: #af99de;
  height: 200vh;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #610a97;
  text-align: center;
  margin-bottom: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.logo-container1 {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.logo {
  height: 75px;
  margin-right: 10px;
}

.logo1 {
  height: 90px;
  margin-right: 10px;
}

.title {
  font-size: 2rem;
  text-align: center;
  flex: 2;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  font-size: 1.5rem;
}

.container-fluid {
  margin-top: 50px;
}

.col-md-8 {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .nav-link {
    font-size: 1.2rem;
  }
}
