body {
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    align-items: center;
    
  }
  
  .container {
    max-width: 100%;
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    border-bottom: 50px solid #688bd1;
    align-items: center;
  
    @media (max-width: 768px) {
      padding: 10px;
    }
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #e76b6b;
  }
  
  .search-form {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  label {
    margin-right: 1rem;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="checkbox"],
  button {
    margin-right: 1rem;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  input[type="text"] {
    width: 20rem;
    border: 1px solid #ccc;
  }
  
  input[type="text"]:focus {
    outline: none;
    border: 1px solid #e76b6b;
  }
  
  /*Set tabel styles*/
  .dx-datagrid {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    overflow-x: auto;
  }
  
  .dx-datagrid-rowsview table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .dx-datagrid-header-panel {
    /* background-color: #ff3333; */
    color: #fff;
  }
  
  .dx-datagrid-header-panel .dx-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .dx-datagrid-header-panel .dx-toolbar .dx-button {
    background-color: #fff;
    color: #ff3333;
    border-color: #ff3333;
  }
  
  .dx-datagrid-header-panel .dx-toolbar .dx-button:hover,
  .dx-datagrid-header-panel .dx-toolbar .dx-button:focus {
    background-color: #ff3333;
    color: #fff;
  }
  
  .dx-datagrid-header-panel .dx-toolbar .dx-icon {
    font-size: 1.5rem;
  }
  
  .dx-datagrid-row {
    background-color: #f2f2f2;
  }
  
  .dx-datagrid-row:hover {
    background-color: #ddd;
  }
  
  .dx-datagrid-cell,
  .dx-datagrid-summary-cell {
    padding: 0.5rem;
    font-size: 1rem;
    color: #333;
  }
  
  .dx-datagrid-cell:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .dx-datagrid-edit-row .dx-texteditor-container,
  .dx-datagrid-edit-row .dx-checkbox-container {
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .dx-datagrid-edit-row .dx-texteditor-container {
    width: 100%;
    border: 1px solid #ccc;
  }
  
  .dx-datagrid-edit-row .dx-texteditor-container:focus {
    outline: none;
    border: 1px solid #e76b6b;
  }
  
  .dx-datagrid-edit-row .dx-checkbox-container .dx-checkbox-checked .dx-checkbox-icon {
    background-color: #e76b6b;
    border-color: #e76b6b;
  }
  
  .dx-datagrid-edit-row .dx-checkbox-container .dx-checkbox-checked .dx-checkbox-checkmark {
    color: #fff;
  }
  
  /*For Logos*/
  .logo-container {
    margin: 0 auto;
    padding: 2rem;
    max-width: 1100px;
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 70px;
    margin-right: 1100px;
    max-width: 1100px;
    align-items: left;
  }
  
  .title {
    font-size: 2rem;
    text-align: center;
    flex: 2;
  }
  
  
  .filter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .checkbox-container {
    display: flex;
    flex-direction: row;
  }
  
  .checkbox-item {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Adjust spacing between checkbox items */
  }